__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.coverage*
pytest_cache/
.hashes/
reports/
artifacts/
.docker/
*.pid
tmp/
dist/
build/
.gitleaks.cache
.github/*.log
data/intermediate/*
data/output/*
!data/intermediate/.gitkeep
!data/output/.gitkeep