name: Format and Lint

on: [push, pull_request]

jobs:
  format-lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Instalar herramientas
      run: pip install black flake8
    
    - name: Formateo con Black
      run: black --check .
    
    - name: Linting con Flake8
      run: flake8 .